body{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.dane{
    display: block;
}